// PLACE TO KEEP VARIABLES //

// Variables for Code Editor View
$redDot: #FF605C;
$yellowDot: #FFBD44;
$greenDot: #4CD964;

$letColor: #0786b8;
$melihColor: #FFBD44;
$equalColor: #095F80;
$bracketColor:hsla(45, 95%, 29%, 0.691);
$commaColor: hsl(0, 1%, 33%);
$semicolonColor: hsl(0, 1%, 33%);
$colonColor: #fff5c0af;
$propertiesColor: #4CD964;
$integerColor:#FF605C;
$stringColor: #e811f7;
$lineColor: hsl(0, 1%, 33%);
//